.work {
  padding: var(--padding-section) 0;
  p.description {
    font-size: 20px;
    margin: 20px 0 50px;
    text-align: center;
  }
  .cards {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    .card:nth-child(even) {
      .image {
        order: 2;
      }
    }
    .card {
      display: flex;
      justify-content: space-between;
      height: 400px;
      background-color: #1F2937;
      .image {
        padding: 10px;
        width: 45%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #334153;
        img {
          width: 430px;
        }
      }
      .info {
        width: 55%;
        padding: 50px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin: 0;
        align-items: start;
        h4 {
          color: white;
          font-size: 25px;
        }
        .details {
          line-height: 1.6;
          font-size: 19px;
        }
        .tags {
          display: flex;
          gap: 10px;
          flex-wrap: wrap;
          span {
            border-radius: 10px;
            padding: 5px 10px;
            background-color: #334153;
          }
        }
        .link-icon {
          cursor: pointer;
        }
      }
    }
  }
}

